header,body,main{
    display: flex;
}

header{
 padding: 15px;
 justify-content: center;
}

body{
    flex-direction: column;
    margin: 0;
    height: 100vh;
    justify-content:space-between;
    align-items: center;

    

}

main{
    flex-direction: column;
    width: 500px;
    height: 500px;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-radius: 10px;
}

.cube {
    background-color: white;
    border: 1px solid black;
}
